<!DOCTYPE html>
<html>
<head>
    <title>购买订单信息表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("order:buyorder:shipped")>
            <a class="btn btn-primary" @click="shipped"><i class="fa fa-external-link-square"></i>&nbsp;平台发货</a>
			</#if>
			<#if shiro.hasPermission("order:buyorder:unpass")>
            <a class="btn btn-primary" @click="unpass"><i class="fa fa-times-circle-o"></i>&nbsp;平台验货未通过</a>
			</#if>
			<#if shiro.hasPermission("order:buyorder:inInspection")>
            <a class="btn btn-primary" @click="inInspection"><i class="fa fa-check-square-o"></i>&nbsp;已签收</a>
			</#if>
			<#if shiro.hasPermission("order:buyorder:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">卖家用户id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.saleUserId" placeholder="卖家用户id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">出售订单ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.saleOrderId" placeholder="出售订单ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">买家用户id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.buyUserId" placeholder="买家用户id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单单号(供查询)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.orderNo" placeholder="订单单号(供查询)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品Id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.goodsId" placeholder="商品Id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品尺码Id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.sizeId" placeholder="商品尺码Id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">1:立即购买 2:出价求购</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.buyType" placeholder="1:立即购买 2:出价求购"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单状态：-1：待支付保证金  0：求购中；1:待付款 2:已付款 3:已发往Biu平台 4:买家待收货(平台验货通过) 5:平台验货未通过 6:已签收 7:退货申请中 8:退货中 9:已完成退货 10:取消交易</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.orderStatus" placeholder="订单状态：-1：待支付保证金  0：求购中；1:待付款 2:已付款 3:已发往Biu平台 4:买家待收货(平台验货通过) 5:平台验货未通过 6:已签收 7:退货申请中 8:退货中 9:已完成退货 10:取消交易"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单取消原因</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.cancelReason" placeholder="订单取消原因"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发票编号 (保留字段)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.invoiceNo" placeholder="发票编号 (保留字段)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品项目数量(不是商品的数量)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.goodsCount" placeholder="商品项目数量(不是商品的数量)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品总价(定价)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.amountTotal" placeholder="商品总价(定价)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">实际付款金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.orderAmountTotal" placeholder="实际付款金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">运费金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.logisticsFee" placeholder="运费金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否开发票 0:否 1:是 (保留字段)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.makeOutInvoice" placeholder="是否开发票 0:否 1:是 (保留字段)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单收货地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.address" placeholder="订单收货地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">物流id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.logisticsId" placeholder="物流id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">支付渠道 1:支付宝 2:微信...</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.payChannel" placeholder="支付渠道 1:支付宝 2:微信..."/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间(下单时间)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.createTime" placeholder="创建时间(下单时间)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">付款时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.payTime" placeholder="付款时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.remarks" placeholder="订单备注"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.updateTime" placeholder="更新时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单状态 1:有效 2:无效</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.curState" placeholder="订单状态 1:有效 2:无效"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.couponId" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">保证金</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.deposit" placeholder="保证金"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">快递费</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.expressFee" placeholder="快递费"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">求购时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.wantBuyDays" placeholder="求购时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否被卖家变现，1：是；0：否</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="buyOrder.isCash" placeholder="是否被卖家变现，1：是；0：否"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/order/buyorder.js?_${.now?long}"></script>
</body>
</html>