<!DOCTYPE html>
<html>
<head>
    <title>尺码信息表</title>
		<#include "/header.html">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">
  <script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
  <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
  <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
  <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
  <script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>
  <link rel="stylesheet" href="${request.contextPath}/statics/plugins/iview/css/iview.css">
  <script src="${request.contextPath}/statics/plugins/iview/iview.min.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("goods:size:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<!--<#if shiro.hasPermission("goods:size:update")>-->
            <!--<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
			<!--</#if>-->
			<#if shiro.hasPermission("goods:size:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <!--<div id="jqGridPager"></div>-->
        <table id="sizeTable" data-mobile-responsive="true" data-click-to-select="true">
          <thead>
          <tr>
            <th data-field="selectItem" data-checkbox="true"></th>
          </tr>
          </thead>
        </table>

</div>

<div v-show="!showList" class="panel panel-default" >
  <div class="panel-heading" style="margin-bottom: 30px">{{title}}</div>
  <i-form ref="formValidate" :model="size" :rules="ruleValidate" :label-width="120">
    <Form-item label="商品Tab" prop="goodsTab">
      <i-select style="width: 200px" v-model="size.goodsTab" filterable label-in-value>
        <i-option v-for="item in goodsTabs" :value="item.code"
                  :key="item.id">{{item.value}}
        </i-option>
      </i-select>
    </Form-item>
    <Form-item label="尺码描述" prop="desc">
      <i-input v-model="size.desc" placeholder="尺码描述" style="width: 200px;"/>
    </Form-item>



    <Form-item>
      <i-button type="primary" @click="handleSubmit('formValidate')" style="background-color: #286090;">确定</i-button>
      <i-button type="warning" @click="reload" style="margin-left: 8px;background-color: #ec971f;"/>返回</i-button>
    </Form-item>
  </i-form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/goods/size.js?_${.now?long}"></script>
</body>
</html>